<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure File Storage</title>
</head>
<body>
    <h1>Secure File Storage</h1>
    <h2>Upload File</h2>
    <form id="upload-form" enctype="multipart/form-data">
        <input type="file" id="file-upload" required>
        <input type="text" id="upload-username" placeholder="Username" required>
        <button type="submit">Upload</button>
    </form>

    <h2>Download File</h2>
    <form id="download-form">
        <input type="text" id="download-filename" placeholder="Filename" required>
        <input type="text" id="download-username" placeholder="Username" required>
        <button type="submit">Download</button>
    </form>
    <h2>Register</h2>
    <form id="register-form">
        <input type="text" id="register-username" placeholder="Username" required>
        <input type="password" id="register-password" placeholder="Password" required>
        <button type="submit">Register</button>
    </form>

    <h2>Login</h2>
    <form id="login-form">
        <input type="text" id="login-username" placeholder="Username" required>
        <input type="password" id="login-password" placeholder="Password" required>
        <button type="submit">Login</button>
    </form>

    <script src="/static/script.js"></script>
</body>
</html>
