<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure File Storage</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <style> 
        .error {
            color: red
        }
        .success {
            color:green
        }
    </style>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
        <nav>
            <div>
                <a class="nav-item" id="logout" href="auth/logout">Logout</a>
            </div>
            <div>
                <a class="nav-item" id="change-pass" href="/change-pass">Change Password</a>
            </div>
            {% if current_user.is_admin %}
            <div>
                <a class="nav-item" id="Register" href="/auth/register">Register New User</a>
            </div>
            {% endif %}
        </nav>
        <h1>Secure File Storage</h1>
        
        <!-- Upload Form -->
         <h2>Upload File</h2>
        <form id="upload-form" action="{{ url_for('app.upload_file') }}" method="POST" enctype="multipart/form-data">
            <input type="file" name="file" id="file" required>
            <input type="submit" value="Upload">
        </form>
        <br>
        <!-- Download Form -->
         <h2>Download File</h2>
        <form id="download-form">
            <p>Enter the full name:</p>
            <input type="text" name="filename" id="filename" placeholder="Filename to download" required>
            <input type="submit" value="Download">
        </form>
        <br>
        <div id="message"></div>
        <!--List of files-->
        <h2>Your Files</h2>
        <div id="file-list"></div>


</body>
</html>
