<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}
    <nav>
        <div>
            <a class="nav-item" id="login" href="/auth/login">Login</a>
        </div>
    </nav>
    <h1>Register</h1>
    <form action="{{ url_for('auth.register') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <br><br>
        <label for="password">Password:</label>
        <input type="password" id="password1" name="password1">
        <br><br>
        <label for="password">Re-type Password:</label>
        <input type="password" id="password2" name="password2">
        <br><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>